/* reset */
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
button,
input,
blockquote{
    padding: 0;
    margin: 0;
}
/* antd overwrite */
.ant-btn{
  border:none;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus, 
.ant-select-selection:active,
.ant-select-open .ant-select-selection,
.ant-select-selection{
  border:none;
  box-shadow: none;
}
/* app */
html,body{
  width: 100%;
  height: 100%;
}
.App{
  height: 100%;
  padding: 120px 0 0 0;
  background-color: #ccc;
}
.app-head{
  position:fixed;
  top:0;
  left:0;
  right: 0;
  background-color: #fff;
  box-shadow: 2px 3px 2px 0px #aeaeae;
  z-index:9;
}
.head-menu{
  padding: 10px 5px;
}
.menu{
  display: inline-block;
  padding:5px 10px;
  color:#333;
  cursor: pointer;
}
.menu:hover{
  background-color: #ccc;
  color:#fff;
}
.head-controll{
  margin:10px 0 0 0;
  padding:0 15px;
  border-top:1px solid #ccc;
}
.controll-group{
  display: inline-block;
  padding: 5px 10px;
  border-right:1px solid #ccc;
}
.yan-btn--label{
  padding:0 8px;
  cursor: pointer;
}