blockquote{
    padding: 0 0 10px 20px;
    margin: 0 0 5px 0;
    border-left: 5px solid #80abff;
}
.editor-box{
    padding:96px;
    width:794px;
    height: 700px;
    overflow: hidden;
    margin:10px auto;
    background-color: #fff;
    box-shadow: 1px 0px 3px 1px #757575;
}
.editor-box-page{
    font-family:"Microsoft YaHei";
    font-size: 24px;
    font-weight: 500;
}
.editor-box-page:focus{
    outline: none;
}
.editor-box-page img{
    width:70%;
    height: auto;
}
.editor-box-page img:hover{
    box-shadow: 0px 0px 0 1px #19aaff;
}